<div class="content-wrap">
  <div class="title">
    Contact
  </div>
  <div class="description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, amet aut culpa
    cumque delectus iusto libero nostrum numquam perferendis quaerat quas quibusdam
    quisquam repudiandae sint sunt tenetur vero vitae voluptates!
    <hr><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, amet aut culpa
    cumque delectus iusto libero nostrum numquam perferendis quaerat quas quibusdam
    <br><br>
    <ul>
      <li><b>Phone</b>: 323 423 4234</li>
      <li><b>Email:</b> wefwefwe@edq.wfewe</li>
    </ul>
    <br>
    Lorem ipsum dolor sit amet, consectetur
  </div>
</div>
