<div *ngIf="loading" class="loader-wrap">
  <div class="load-text">Posting...</div>
  <div class="lds-dual-ring"></div>
</div>
<form *ngIf="!loading" (ngSubmit)="addPost()">
  <div class="form-group">
    <label for="title">Post Title</label>
    <input
      type="text"
      name="title"
      id="title"
      class="form-control"
      [(ngModel)]="title"
    />
  </div>
  <div class="form-group">
    <label for="description">Post text</label>
    <textarea
      name="description"
      id="description"
      class="form-control"
      [(ngModel)]="description"
    ></textarea>
  </div>
  <button type="submit">Post</button>
</form>

