<div *ngIf="loading" class="loader-wrap">
  <div class="lds-dual-ring"></div>
</div>
<div *ngIf="!loading">
  <div class="post-wrap">
    <div class="date">{{ post.dateCreated }}</div>
    <div class="title">{{ post.title }}</div>
    <div class="description">{{ post.description }}</div>
  </div>
  <div class="post-control">
    <button class="delete-btn" type="button" (click)="deletePost()">Delete</button>
    <a class="edit-btn" routerLink="/posts/{{ post.id }}/edit">Edit</a>
  </div>

</div>

