.post-wrap {
  padding: 16px;
  border: 1px solid #333;
  margin-bottom: 10px;
}
.date {
  font-size: 12px;
  color: #7f7f7f;
}
.title {
  padding: 10px 0;
}
.description {
  font-size: 16px;
  color: #333;
  line-height: 1.3;
}
.delete-btn {
  background-color: tomato;
  color: #fff;
  font-size: 14px;
  border: none;
  padding: 5px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 10px;
}
.edit-btn {
  background-color: gold;
  color: #fff;
  font-size: 14px;
  border: none;
  padding: 5px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 10px;
}
