.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: aliceblue;
  padding: 0 16px;
  margin-bottom: 10px;
}
.logo a {
  font-size: 20px;
  font-weight: bold;
}
.links ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.links ul li {
  margin: 0 6px;
}
.links ul li a {
  padding: 0 4px;
}
