<header>
  <div class="container">
    <div class="header-wrap">
      <div class="logo">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Blog</a>
      </div>
      <div class="links">
        <ul>
          <li>
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
          </li>
          <li>
            <a routerLink="/add" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Add</a>
          </li>
          <li>
            <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About</a>
          </li>
          <li>
            <a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<main class="container">
  <router-outlet></router-outlet>
</main>
