<div *ngIf="loading" class="loader-wrap">
  <div class="lds-dual-ring"></div>
</div>

<div *ngIf="!loading">
  <div *ngIf="posts.length === 0" class="empty-wrap">
    Empty :( <a routerLink="/add">add post</a>
  </div>
  <div class="post-item" *ngFor="let post of posts;">
    <div class="date">{{ post.dateCreated }}</div>
    <div class="title">{{ post.title }}</div>
    <a routerLink="/posts/{{ post.id }}">Read more >></a>
  </div>
</div>


