@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
/*common styles*/
* {
  box-sizing: border-box;
}
html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  padding: 0 0 60px;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}
.container {
  width: 960px;
  margin: auto;
}
.content {
  padding: 20px 0;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: green;
}
.green {
  cursor: pointer;
  text-decoration: underline;
  color: green;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
ul li a.active {
  color: green;
}
.row {
  display: flex;
}
.col-50 {
  flex: 1 1 50%;
  max-width: 50%;
  padding: 10px;
}
.col-33 {
  flex: 1 1 33.33333333%;
  max-width: 33.33333333%;
  padding: 10px;
}
.wrap {
  background-color: #f5f4f2;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

}
.content-wrap {
  padding: 16px;
  border: 1px solid #333;
  margin-bottom: 10px;
}
.title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
.small-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  padding: 3px 10px;
  margin-bottom: 10px;
}
button {
  background-color: green;
  color: #fff;
  font-size: 14px;
  border: none;
  padding: 5px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 10px;
}
button:hover {
  opacity: 0.9;
}
.empty-wrap {
  text-align: center;
  width: 100%;
  padding: 20px;
  font-size: 20px;
  color: #333;
  background-color: #fff7d1;
}
.empty-wrap a {
  background-color: green;
  color: #fff;
  font-size: 14px;
  border: none;
  padding: 5px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 20px;
}

/*Css loader*/
.loader-wrap {
  position: relative;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.load-text {
  position: absolute;
  bottom: -4px;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 34px;
  height: 34px;
  margin: 12px;
  border-radius: 50%;
  border: 6px solid #7f7f7f;
  border-color: #7f7f7f transparent #7f7f7f transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Css loader*/
